:root{
    --amarelo-padrao:#ffbf00;
    --cor-html-icon: rgb(228, 71, 15);
    --cor-css-icon: rgb(32, 100, 122);
    --cor-js-icon:rgb(255, 255, 30);
    --cor-padrao-escura: #1f2723;
    --cor-fundo-link: rgba(0, 0, 0, 0.626);
}   